@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

:root {
  --body-fonte: 'Quantico', sans-serif;
  --body-texto-cor: #ffffff;
  --cor-conteudo-projeto: #16152b;
  --vrtr-tt: ;
  --cor-area-perfil: #1e1c3a;
  --cor-linguagens-usadas: rgb(189 189 189);
}

* {
  margin: 0;
  box-sizing: border-box;
  outline:none;
}

body {
  width: 100%;
  height:100vh;
  font-family: var(--body-fonte);
  color: var(--body-texto-cor);
  display: var(--vrtr-tt);
}

main {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.area-informativa {
  display: flex;
  min-height: 89px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #16152b;
  top: 0;
  gap: px;
  border-bottom: 1px solid #9C9A9A;
  z-index: 1000;
  box-shadow: 0px 2px 8px black;
}

.conteudo-principal {
  display: flex;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.area-perfil {
  display: none;
  width: 248px;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--cor-area-perfil);
  overflow-y: auto;
  align-items: center;
  border-right: 1px solid #9C9A9A;
  box-shadow: 0px 2px 8px black;
  z-index: 1;
}

.logo {
  display: none;
  justify-content: center;
  font-size: 19px;
  width: 248px;
  border-right: 1px solid  #9C9A9A;
  min-height: 60px;
  align-items: center;
  color: #ffffff;
}

.img-perfil {
  border-radius: 100px;
  margin-top: 60px;
}

.info {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  border-bottom: 1px solid #9C9A9A;
  padding: 20px;
}

.info p {
  justify-content: center;
}

h1 {
  font-size: 1.2em;
}

.redes {
  display: flex;
  font-size: 28px;
  justify-content: center;
  margin-top: 15px;
  gap: 30px;
}

.linguagem-prog {
  display: flex;
  justify-content: center;
  flex-flow: wrap column;
  gap: 12px;
  position: relative;
  margin-top: 20px;
  padding: 32px;
  background-color: rgb(42 40 82);
  border-radius: 10px;
  height: 245px;
  width: 218px;
  
}

.linguagem-prog-javascript h2 {
  animation-name: linguagens-javascript;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.linguagem-prog-html h2 {
  animation-name: linguagens-html;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.linguagem-prog-css h2 {
  animation-name: linguagens-css;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.linguagem-prog-react h2 {
  animation-name: linguagens-react;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.conteudo {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-conteudo-projeto);
}

.conteudo-projeto {
  display: none;
  color: #ffffff;
  background-color: #1d1c38;
  padding: 4px 16px;
  border-radius: 50px;
}

.perfil-area-informativa {
  width: 102px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.area-hover-perfil {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

a {
  color: #bdbdbd;
}

.fa-linkedin {
  animation-name: animation-linkedin;
  animation-duration: 3s;
  animation-iteration-count: 1;
  
}

.fa-instagram-square {
  animation-name: animation-instagram;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.fa-github-square  {
  animation-name: animation-github;
  animation-duration: 3s;
  animation-iteration-count: 1;
}



.area-hover-info {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 102px; 
  height: 195px; 
  position: absolute;
  font-size: 13px;
  padding-top: 6px;
  background-color: #16152b;
  border-radius: 0px 0px 10px 10px;
  z-index: 1000;
}

.redes-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.redes-hover a {
  font-size: 35px;
}

.perfil-area-informativa img {
  border-radius: 50px;
}

.mostragem-projetos {
  width: 100%;
  margin: 12px 0px;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  overflow: auto;
}

.projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}

.cT1 {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  margin: 11px 0px;
}

.DfTTf {
  width: 0rem;
  max-width: 50%;
  margin: 0px 12px;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
}

.TddQq a {
  display: flex;
}

.imgs-conteudo {
  width: 100%;
  min-height: 100%;
  border-radius: 10px 10px 0px 0px;
  margin-top: 30px;
  margin: 0;
}

.linguagens-usadas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 24px;
  background-color: var(--cor-linguagens-usadas);
  border-radius: 0px 0px 10px 10px;
}

.RRttT {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.redes-linguagens {
  width: 200px;
  height: 100px;
  background-color: rgb(29 28 56);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redes-linguagens a {
  font-size: 30px;
}

.redes-projetos {
  display: none;
  flex-direction: column;
  min-width: 103px;
  height: 300px;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
  gap: 6px;
  background-color: #1d1c38;
}

.redes-projetos h4 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 103px;
}

.fa-linkedin:hover {
  color: rgb(5 92 179);
}

.fa-instagram-square:hover {
  color: rgb(241 101 41);
}

.fa-github-square:hover {
  color: rgb(0 0 0);
}

@keyframes animation-linkedin {
  0% {color: rgb(29 28 56);}
  30% {color: rgb(5 92 179);}
  40% {color: rgb(225 225 225)};
  100% {color: rgb(225 225 225);}
}

@keyframes animation-instagram {
  0% {color: rgb(29 28 56);}
  50% {color: rgb(241 101 41);}
  60% {color: rgb(225 225 225);}
}

@keyframes animation-github {
  0% {color: rgb(29 28 56);}
  70% {color: rgb(0 0 0);}
  80% {color: rgb(225 225 225);}
}

@keyframes linguagens-javascript {
  0% {color: rgb(29 28 56);}
  30% {color: rgb(244 247 29);}
  40% {color: rgb(225 225 225);}
  100% {color: rgb(2425 225 225);}
}

@keyframes linguagens-html {
  0% {color: rgb(29 28 56);}
  50% {color: rgb(255 68 68);}
  60% {color: rgb(225 225 225);}
}

@keyframes linguagens-css {
  0% {color: rgb(29 28 56);}
  70% {color: rgb(51 85 255);}
  80% {color: rgb(225 225 225);}
}

@keyframes linguagens-react {
  0% {color: rgb(29 28 56);}
  90% {color: rgb(96 152 255);}
  100% {color: rgb(225 225 225);}
}

@media screen and (min-width: 355px) {
  
  .linguagens-usadas {
    min-height: 50px;
  }
  
  .linguagens-usadas img {
    width: 40px;
    height: 30px;
  }
  
}

@media (min-width: 768px) {
  
  .conteudo-projeto {
    display: flex;
  }
  
  .perfil-area-informativa {
    width: 76px;
    height: 59px;
  }
  
  .perfil-area-informativa h5 {
    display: none;
  }
  
  .logo {
    display: flex;
  }
  
  .area-perfil {
    display: flex;
  }

  

  .redes-projetos {
    display: none;
  }

  .area-informativa {
    min-height: 60px;
    height: 60px;
    justify-content: space-between;
  }
  
  .mostragem-projetos {
    width: 100%;
  }
  
  .RRttT {
    display: none;
}
  
}

@media (min-height: 748px) {
  
}
