@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(167 167 255);
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

form {
    width: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    background-color: rgb(25 24 48);
    border-radius: 50px;
    margin: 0;
    transition: all .3s ease-out;
}

form h1 {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 3rem;
    margin-top: 40px;
    color: #ffffff;
}

#ms-erro {
    width: 100%;
    height: 21px;
    text-align: center;
    margin: 14px;
}

.label-input-grup {
    display: flex;
    flex-direction: column;
}

.name-password {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
}

.label-input, .label-input-email,
 .label-input-senha {
    display: flex;
    position: relative;
    padding: 13px;
    margin-right: 0px;
}


.label-input label,
.label-input-email label, 
.label-input-senha label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 23px;
    color: #8f8f8f;
    margin-top: 20px;
    transition: all .3s ease-out;
}



.label-input input {
    width: 271px;
    padding: 7px 7px;
    display: inline-block;
    outline: none;
    padding-top: 13;
    min-width: 180px;
    color: #ffffff;
    font-size: 14px;
    transition: all .3s ease-out;
    background-color: #262448;
    border-radius: 4px;
    border: 1.5px solid #262448;
}

.label-input-senha input {
    width: 205px;
    padding: 7px 7px;
    display: inline-block;
    outline: none;
    padding-top: 13;
    min-width: 115px;
    color: #ffffff;
    font-size: 14px;
    transition: all .3s ease-out;
    background-color: #262448;
    border-radius: 4px 0px 0px 4px;
    border: 1.5px solid #262448;
}

.label-input-email input {
    width: 100%;
    padding: 7px 7px;
    display: inline-block;
    outline: none;
    padding-top: 13;
    min-width: 180px;
    color: #ffffff;
    font-size: 14px;
    transition: all .3s ease-out;
    background-color: #262448;
    border-radius: 4px;
    border: 1.5px solid #262448;
}

.label-input input:focus,
.label-input-senha input:focus,
.label-input-email input:focus {
    border: 1.5px solid #413d8a;
}

#stf, #fst {
    width: 100%;
}

.input-gender {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    margin-bottom: 5px;
}

.radio-gender {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #8f8f8f;
    border-radius: 8px 4px 4px 8px;
    padding: 2px;
    font-size: 11px;
    font-weight: 600;
    background-color: #262448;
}



.ver-senha {
    text-align: center;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    top: 13px;
    border-radius: 0px 4px 4px 0px;
    right: 0;
    display: block;
    border: none;
    background-color: #3636A1;
    color: #ffffff;
}

.label-input input:valid + label,
.label-input-senha input:valid + label,
.label-input-email input:valid + label {
    margin-top: -2px;
    font-size: 13px;
    left: 15px;
    padding-top: 0;
    font-weight: 600;
}

.btnCad {
    width: 11em;
    height: 5vh;
    border: 0;
    cursor: pointer;
    background-color: #3636a1;
    border-radius: 2px;
    color: #fcfcff;
}

button:hover {
    background-color: #4646a1;
}

p {
    margin: 20px;
}

p a {
    text-decoration: none;
    color: rgb(91, 91, 255);

}

p a:hover {
    color: rgb(115, 115, 255);
    transition: all .3s ease-out;
}

@media (min-width: 480px) {
    form {
        width: 468px;
        transition: all .0s ease-out;
    }

    .label-input input {
        width: 0;
    }

    .gender {
        gap: 7px;
        margin-bottom: 0px;
    }

    .name-password {
        display: flex;
        flex-direction: row;
        transition: all .3s ease-out;
    }

    .label-input-senha input {
        width: 1px;
    }

    .input-gender {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px;
    }
}